<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-AngeHdz/blob/main/Create%20Actividad_de_semana1-2_PythonforDataScience(IBM).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Modulo 1 - Python Basics

In [3]:
# Print Hello Python 101
print('Hello Python 101')

Hello Python 101

In [4]:
#Question 1 executing print("Hello\nworl!")
print("Hello\nworl!")

Hello
worl!

In [6]:
# Question 2 #print('Hello World!')
#print('Hello World!')

In [7]:
#Enter the code to convert the number 1 to a Boolean.
bool(1)

True

In [26]:
#String 

Name = "Michael Jackson"

print(Name[0])
print(Name[6])
print(Name[13])

print(Name[-1])
print(Name[-15])

#String: Slicing
print(Name[0:4])
print(Name[8:12])

#String: Stride
print(Name[::2])
print(Name[0:5:2])

len("Michael Jackson")

Statement = Name + " is the best"
print(Statement)

#Tuples

print(3*"Michael Jackson ")

#String: Inmutable

Name = Name + " is the best"
print(Name)


#String: escape sequences

#New line
print("Michael Jackson \n is the best")

#Tab
print("Michael Jacson \t is the best")

#Print a backslash
print("Michael Jackson \\ is the best")
print(r"Michael Jackson \ is the best")

M
l
o
n
M
Mich
Jack
McalJcsn
Mca
Michael Jackson is the best
Michael Jackson Michael Jackson Michael Jackson
Michael Jackson is the best
Michael Jackson
 is the best
Michael Jacson 	 is the best
Michael Jackson \ is the best
Michael Jackson \ is the best

In [50]:
#String Methods

#Method upper()
A = "Thriller is the sixth studio album"
B = A.upper();
print(B)

#Method replace()
A = 'Michael Jackson is the best'
B= A.replace('Michael','Janet')
print(B)

#Method find
Name = "Michael Jackson"
print(Name.find('el'))
print(Name.find('Jack'))
print(Name.find('&*D'))


#Question1 Numbers = '0123456'
Numbers = '0123456'
Numbers[::2]

#Question2 "0123456".find('1')
"0123456".find('1')


#Review Questions

#1 What is the result of the following operation in Python:3+2*2
3+2*2
#2 In Python, if you executed name = 'Lizz', what would be the output of print(name[0:2])?
name = 'Lizz'
print(name[0:2])
#3 In Python, if you executed var = '01234567', what would be the result of print(var[::2])?
var= '01234567'
print(var[::2])
#4 In Python, what is the result of the following operation '1'+'2'?
'1' + '2'
#5 Given myvar = 'hello', how would you convert myvar into uppercase?
myvar = 'hello'
myvar.upper()

THRILLER IS THE SIXTH STUDIO ALBUM
Janet Jackson is the best
5
8
-1
Li
0246

'HELLO'

# Module 2 - Python Data Structures

In [100]:
# Tuples
Rating = (10,9,6,5,10,8,9,6,2)
Tuple1 =('disco',10,1.2)
type(Tuple1)
print(Tuple1[0])
print(Tuple1[1])
print(Tuple1[2])
print('/////////////')
print(Tuple1[-3])
print(Tuple1[-2])
print(Tuple1[-1])

Tuple2 = Tuple1 + ("hard rock", 10)
print(Tuple2)
#Get the firts 3 elements
print(Tuple2[0:3])
#Get the last 2 elements
print(Tuple2[3:5])
#Get de Lenght
print(len(Tuple2))


#Tuples: Immutable
print("#Tuples: Immutable////////////////////////////////")
Ratings = (10,9,6,5,10,8,9,6,2)
RatingSorted = sorted(Ratings)
print(RatingSorted)

#List
print("#List////////////////////////////////")
L= ["Michael Jackson", 10.1,1982]
print(L)
print(L[0])
print(L[1])
print(L[2])
print(L[-3])
print(L[-2])
print(L[-1])

L= ["Michael Jackson", 10.1,1982,"MJ",1]
print(L[3:5])

L=["Michael Jackson",10.1,1982] 
L1 = L + ["pop",10]
print(L1)
L.extend(["pop",10])
print(L)
L=["Michael Jackson",10.1,1982] 
L.append(["pop",10])
print(L)

#Modify a value in a List
A = ["disco",10,1.2]
A[0] = "hard rock"
print(A)
#Delete the first element
del(A[0])
print(A)

print("hard rock".split())

print("A,B,C,D".split(","))

disco
10
1.2
/////////////
disco
10
1.2
('disco', 10, 1.2, 'hard rock', 10)
('disco', 10, 1.2)
('hard rock', 10)
5
#Tuples: Immutable////////////////////////////////
[2, 5, 6, 6, 8, 9, 9, 10, 10]
#List////////////////////////////////
['Michael Jackson', 10.1, 1982]
Michael Jackson
10.1
1982
Michael Jackson
10.1
1982
['MJ', 1]
['Michael Jackson', 10.1, 1982, 'pop', 10]
['Michael Jackson', 10.1, 1982, 'pop', 10]
['Michael Jackson', 10.1, 1982, ['pop', 10]]
['hard rock', 10, 1.2]
[10, 1.2]
['hard', 'rock']
['A', 'B', 'C', 'D']
['banana', 10, 1.2]
['banana', 10, 1.2]
['banana', 10, 1.2]
['hard rock', 10, 1.2]

In [101]:
#List Aliasing
A = ["hard rock",10,1.2]
B = A
A[0] = "banana"
print(A)
print(B)

['banana', 10, 1.2]
['banana', 10, 1.2]

In [102]:

#List Clone
A = ["hard rock",10,1.2]
B = A[:]
A[0] = "banana"
print(A)
print(B)

['banana', 10, 1.2]
['hard rock', 10, 1.2]

In [104]:
#Get Help
A = ["hard rock",10,1.2]
help(A)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Stable sort *IN PLACE*.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [108]:
#1 How do you access the last element of the following tuple: A=(0,1,2,3)? Select all possible correct answers.
A=(0,1,2,3)
A[3]
# Consider the list: B=["a","b","c"].
#What is the result of the following B[1:]?
B=["a","b","c"]
B[1:]

['b', 'c']

In [112]:
#Sets

#Creating a Set

album_list = ["Michael Jackson", "Thriller", "Thriller", 1982]
album_set = set(album_list)
print(album_set)

{'Thriller', 1982, 'Michael Jackson'}

In [116]:
# Set operations
A= {"Thriller","Back in Back", "AC/DC"}
A.add("NSYNC")
print(A)
#No add more
A.add("NSYNC")
print(A)

{'AC/DC', 'NSYNC', 'Thriller', 'Back in Back'}
{'AC/DC', 'NSYNC', 'Thriller', 'Back in Back'}

In [136]:
album_set_1 = {"AC/DC", "Back in Balck", "Thriller"}
album_set_2 = {"AC/DC", "Back in Balck", "The Dark Side of the Moon"}
#Union of two sets, return the elements in both sets
album_set_3 = album_set_1 & album_set_2
print(album_set_3)


album_set_4 = album_set_1.union(album_set_2)
print(album_set_4)

print(album_set_3.issubset(album_set_1))

{'AC/DC', 'Back in Balck'}
{'AC/DC', 'The Dark Side of the Moon', 'Back in Balck', 'Thriller'}
True

In [140]:
#1 
S={'A','B','C'}
U = {'A','Z','C'}
print(U.union(S))

#2
print(S&U)

{'Z', 'B', 'C', 'A'}
{'A', 'C'}

In [153]:
from typing import Dict
#Dictionaries

DICT = {"Thriller" : 1982, "Black in Back" : 1980, "The Dark Side of the Moon" : 1973, "The Bodyguard": 1992}
print(DICT["Thriller"])
print(DICT["The Dark Side of the Moon"])

#Add new Value
DICT['Graduation'] = '2007'

print(DICT)
#Get the keys
print(DICT.keys())
#Get the values
print(DICT.values())


#1 D = {'a':0,'b':1,'c':2}
#What is the result of the following: D.values()?
d = {'a':0,'b':1,'c':3}
d.values()

#2 Consider the following dictionary:
#D = {'a':0,'b':1,'c':2}
#What is the output of the following D['b']?*/

D = {'a':0,'b':1,'c':2}
D['b']

1982
1973
{'Thriller': 1982, 'Black in Back': 1980, 'The Dark Side of the Moon': 1973, 'The Bodyguard': 1992, 'Graduation': '2007'}
dict_keys(['Thriller', 'Black in Back', 'The Dark Side of the Moon', 'The Bodyguard', 'Graduation'])
dict_values([1982, 1980, 1973, 1992, '2007'])

1

# Module 3 Python Programming Fundamentals

In [162]:
#Compare
a=6
print(a==7)
print(a>5)

i= 5
print(i>= 5)
i= 2
print(i>= 5)

#Not Equal
print(i!=6)

print("AC/DC"=="Michael Jackson")
print("AC/DC"!="Michael Jackson")

False
True
True
False
True
False
True

In [166]:
#iF
age = 17
if(age > 18): 
  print("you can enter")
print("move on")

move on

In [167]:
age = 19
if(age > 18): 
  print("you can enter")
print("move on")

you can enter
move on

In [168]:
if (age>18):
  print("you can enter")
else:
  print("go see Meat Laof")
print("move on")

you can enter
move on

In [169]:
age =17
if (age>18):
  print("you can enter")
else:
  print("go see Meat Laof")
print("move on")

go see Meat Laof
move on

In [171]:
age = 18
if (age>18):
  print("you can enter")
elif(age==18):
  print("go see Pink Floyd")
else:
  print("go see Meat Laof")
print("move on")

go see Pink Floyd
move on

In [174]:
#Logic Operators
print(not(True))

False
The Album was made in the 70's or 90's

In [175]:
#OR
album_year = 1990
if(album_year < 1980) or (album_year > 1989):
  print("The Album was made in the 70's or 90's")
else:
  print("The Album was made in the 1980's")

The Album was made in the 70's or 90's

In [176]:
#AND
album_year = 1983
if(album_year > 1979) or (album_year < 1990):
  print("This Album was made in the 80's")

This Album was made in the 80's

In [183]:
#loops
squares = ["red","yellow","green", "purple", "blue"]
for i in range(0,5):
  squares[i]="white"

print(squares)
squares = ["red","yellow","green"]
for square in squares:
  print(square)

['white', 'white', 'white', 'white', 'white']
red
yellow
green

In [185]:
#While loop
squares = ["orange","orange", "purple", "orange","orange"]
NewSqures=[]

i=0
while(squares[i] == "orange"):
  NewSqures.append(squares[i])
  i=i+1
print(NewSqures)

['orange', 'orange']

In [189]:
#Functtions

def f1(input):
  output = input + 1;
  return output

def f2(input):
  output = input + 2;
  return output

print(f1(3))
print(f2(5))

4
7

In [191]:
#Len function
album_ratings = [10.0,8.5,9.5,7.0,7.0,9.5,9.0,9.5]
L = len(album_ratings)
print(L)

8

In [192]:
#Sum Function
S = sum(album_ratings)
print(S)

70.0

In [196]:
#Sorted vs Sort
#Sorted create another list
sorted_album_rating = sorted(album_ratings)
print(sorted_album_rating)

#Sort modify same List
album_ratings.sort();
print(album_ratings)

[7.0, 7.0, 8.5, 9.0, 9.5, 9.5, 9.5, 10.0]
[7.0, 7.0, 8.5, 9.0, 9.5, 9.5, 9.5, 10.0]

In [201]:
#Documentation string
def add1(a):
  """"
  add 1 to a
  """
  b=a+1
  return b

c = add1(5)
print(c)

6

In [207]:
#Multiple parameters

def Mult(a,b):
  c= a*b
  return c

print(Mult(2,3))
print(Mult(10,3.14))
print(Mult(2,"Michael Jackson "))

6
31.400000000000002
Michael Jackson Michael Jackson

In [209]:
#Function
def add11(a):
  b= a +1
  print(a,"plus 1 equals",b)
  return b

add11(4)
add11(5)

4 plus 1 equals 5
5 plus 1 equals 6

6

In [210]:
def add11(a):
  b= a +1
  print(a,"plus 1 equals",b)

add11(4)
add11(5)

4 plus 1 equals 5
5 plus 1 equals 6

In [212]:
def printStuff(Stuff):
  for i,s in enumerate(Stuff):
    print("Album", i, "Rating is ",s)
album_ratings = [10.0,8.5,9.5]
printStuff(album_ratings)

Album 0 Rating is  10.0
Album 1 Rating is  8.5
Album 2 Rating is  9.5

In [213]:
def ArtistNames(*names):
  for name in names:
    print(name)

ArtistNames("Michael Jackson", "AC/DC","Pink Floyd")

Michael Jackson
AC/DC
Pink Floyd

In [214]:
ArtistNames("Michael Jackson", "AC/DC")

Michael Jackson
AC/DC

In [217]:
#Global Scope

def AddDC(y):
  x=y+"DC"   #The curse has an error in this example (x=x+"DC")
  print(x)
  return(x)

x= "AC"
z= AddDC(x)

ACDC

In [226]:
# Local Variables
def Thriller():
  Date = 1982
  return (Date)
Date = 2017
print(Thriller())
print(Date)

Data = Thriller()
print(Date)

1982
2017
2017

In [229]:
# Variables
def ACDC(y):
  print(Rating)
  return(Rating + y)
Rating = 9
z= ACDC(1)
print(Rating)
print(z)

9
9
10

In [231]:
#Global Variable
def PinkFloyd():
  global ClaimedSales
  ClaimedSales = '45 million'
  return ClaimedSales
PinkFloyd()
print(ClaimedSales)

45 million

In [247]:
from IPython.core.magics.namespace import NamespaceMagics
#Object and Classes
#Classes contain Data Attibutes, Methods, objects

class Circle(object):
  def __init__(self, radius,color):
    self.radius = radius
    self.color = color
  
  def add_radius(self,r):
    self.radius = self.radius + r
    return(self.radius)
    

redCircle = Circle(10,"red")

print(redCircle.color)
print(redCircle.radius)

c1 = Circle(2,"Yellow")
print(c1.radius)
print(c1.color)
c1.add_radius(8)

print(c1.radius)

red
10
2
Yellow
10

In [249]:
class Car(object):
  def __init__(self, make,model,color):
    self.make = make
    self.model = model
    self.color = color
car1 = Car("Honda", "Accord","Blue")