<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-AngeHdz/blob/main/Create%20Actividad_de_semana1-2_PythonforDataScience(IBM).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Modulo 1 - Python Basics

In [3]:
# Print Hello Python 101
print('Hello Python 101')

Hello Python 101

In [4]:
#Question 1 executing print("Hello\nworl!")
print("Hello\nworl!")

Hello
worl!

In [6]:
# Question 2 #print('Hello World!')
#print('Hello World!')

In [7]:
#Enter the code to convert the number 1 to a Boolean.
bool(1)

True

In [26]:
#String 

Name = "Michael Jackson"

print(Name[0])
print(Name[6])
print(Name[13])

print(Name[-1])
print(Name[-15])

#String: Slicing
print(Name[0:4])
print(Name[8:12])

#String: Stride
print(Name[::2])
print(Name[0:5:2])

len("Michael Jackson")

Statement = Name + " is the best"
print(Statement)

#Tuples

print(3*"Michael Jackson ")

#String: Inmutable

Name = Name + " is the best"
print(Name)


#String: escape sequences

#New line
print("Michael Jackson \n is the best")

#Tab
print("Michael Jacson \t is the best")

#Print a backslash
print("Michael Jackson \\ is the best")
print(r"Michael Jackson \ is the best")

M
l
o
n
M
Mich
Jack
McalJcsn
Mca
Michael Jackson is the best
Michael Jackson Michael Jackson Michael Jackson
Michael Jackson is the best
Michael Jackson
 is the best
Michael Jacson 	 is the best
Michael Jackson \ is the best
Michael Jackson \ is the best

In [50]:
#String Methods

#Method upper()
A = "Thriller is the sixth studio album"
B = A.upper();
print(B)

#Method replace()
A = 'Michael Jackson is the best'
B= A.replace('Michael','Janet')
print(B)

#Method find
Name = "Michael Jackson"
print(Name.find('el'))
print(Name.find('Jack'))
print(Name.find('&*D'))


#Question1 Numbers = '0123456'
Numbers = '0123456'
Numbers[::2]

#Question2 "0123456".find('1')
"0123456".find('1')


#Review Questions

#1 What is the result of the following operation in Python:3+2*2
3+2*2
#2 In Python, if you executed name = 'Lizz', what would be the output of print(name[0:2])?
name = 'Lizz'
print(name[0:2])
#3 In Python, if you executed var = '01234567', what would be the result of print(var[::2])?
var= '01234567'
print(var[::2])
#4 In Python, what is the result of the following operation '1'+'2'?
'1' + '2'
#5 Given myvar = 'hello', how would you convert myvar into uppercase?
myvar = 'hello'
myvar.upper()

THRILLER IS THE SIXTH STUDIO ALBUM
Janet Jackson is the best
5
8
-1
Li
0246

'HELLO'

# Module 2 - Python Data Structures