<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-AngeHdz/blob/main/Semana2_Actividad_1_PythonforDataScience.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Module 4 - Working with Data in

In [1]:
#import pandas
import pandas as pd

In [2]:
# Cargamos el archivo que est√° en la siguiente carpeta de Google-Colab:

In [3]:
# Read the Example1.txt

example1 = "/content/example1.txt"
file1 = open(example1, "r")

In [4]:
#imprimir el path del archivo
file1.name

'/content/example1.txt'

In [5]:
#imprimir el modo en el que se abrio el archivo
file1.mode

'r'

In [6]:
FileContent = file1.read()
print(FileContent)

This is line 1
This is line 2
This is line 3

In [7]:
#Imprimir el typo de objeto de FIleContent
type(FileContent)

str

In [8]:
#Close the File
file1.close()

#Una mejor forma de abrir un archivo

In [9]:
#abrir con with
with open(example1,"r") as file1:
  FileContent = file1.read()
  print(FileContent)

This is line 1
This is line 2
This is line 3

In [10]:
#Verificar si el archivo se cerro
file1.closed

True

In [11]:
#imprimir contenido 
print(FileContent)

This is line 1
This is line 2
This is line 3

In [12]:
#No es necesario leer todo el archivo, Leer los primeros 4 caracteres
with open(example1, "r") as file1:
  print(file1.read(4))

This

In [13]:
#la funcion read puede leer la cantidad determinada de caracteres, especificada en el primer parametro
with open(example1, "r") as file1:
  print(file1.read(4))
  print(file1.read(4))
  print(file1.read(7))
  print(file1.read(15))

This
 is
line 1

This is line 2

In [14]:
#Leer una sola linea completa
with open(example1, "r") as file1:
  print("first line: " + file1.readline())

first line: This is line 1

In [15]:
#readline solo lee una linea a pesar que se execeda los caracteres
with open(example1, "r") as file1:
    print(file1.readline(20)) # does not read past the end of line
    print(file1.read(20)) # Returns the next 20 chars

This is line 1

This is line 2
This

In [16]:
#Iterando todas las lineas y guardando en una lista
with open(example1,"r") as file1:
  i = 0;
  for line in file1:
    print("Iteration", str(i), ":", line)
    i = i +1

Iteration 0 : This is line 1

Iteration 1 : This is line 2

Iteration 2 : This is line 3

In [17]:
#Readlines retorna todas lineas
with open(example1, "r") as file1:
  FileasList = file1.readlines()

In [18]:
#imprimir la primer linea
FileasList[0]

'This is line 1 \n'

In [19]:
#Imprimir la segunda linea
FileasList[2]

'This is line 3'

#Writing FIles

In [20]:
#escribir una linea en un archivo
exmp2 = '/content/example2.txt'
with open(exmp2,'w') as writefile:
  writefile.write("This is line A")

In [21]:
#leer archivo example2
with open(exmp2,'r') as testwritefile:
  print(testwritefile.read())

This is line A

In [22]:
#imprimir multiples lineas a un archivo
with open(exmp2, 'w') as writefile:
  writefile.write("This is line A\n")
  writefile.write("This is line b\n")

In [23]:
#imprimir todo el archivo
with open(exmp2, 'r') as testwritefile:
  print(testwritefile.read())

This is line A
This is line b

In [24]:
#crear una lista de Text
Lines = ["This is line A\n","This is line b\n", "This is line C\n"]
Lines

['This is line A\n', 'This is line b\n', 'This is line C\n']

In [25]:
#Guardar la lista de strings
with open('/content/example2.txt','w') as writefile:
  for line in Lines:
    print(line)
    writefile.write(line)

This is line A

This is line b

This is line C

In [26]:
#Verificar si se escribio la lista de strings
with open('/content/example2.txt','r') as testwritefile:
  print(testwritefile.read())

This is line A
This is line b
This is line C

In [27]:
#w sobre escribe todos los datos existentes
with open('example2.txt', 'w') as writefile:
    writefile.write("Overwrite\n")
with open('example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

Overwrite

In [28]:
# Escribir una nueva linea 

with open('Example2.txt', 'a') as testwritefile:
    testwritefile.write("This is line C\n")
    testwritefile.write("This is line D\n")
    testwritefile.write("This is line E\n")

In [29]:
# Verificar la lectura del archivo

with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

Line 1
Line 2
Line 3
finished
This is line C
This is line D
This is line E

In [30]:
with open('Example2.txt', 'a+') as testwritefile:
    testwritefile.write("This is line E\n")
    print(testwritefile.read())

In [31]:
# Verificar la lectura del archivo

with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

Line 1
Line 2
Line 3
finished
This is line C
This is line D
This is line E
This is line E

In [32]:
with open('Example2.txt', 'a+') as testwritefile:
    print("Initial Location: {}".format(testwritefile.tell()))
    
    data = testwritefile.read()
    if (not data):  #empty strings return false in python
            print('Read nothing') 
    else: 
            print(testwritefile.read())
            
    testwritefile.seek(0,0) # move 0 bytes from beginning.
    
    print("\nNew Location : {}".format(testwritefile.tell()))
    data = testwritefile.read()
    if (not data): 
            print('Read nothing') 
    else: 
            print(data)
    
    print("Location after read: {}".format(testwritefile.tell()) )

Initial Location: 90
Read nothing

New Location : 0
Line 1
Line 2
Line 3
finished
This is line C
This is line D
This is line E
This is line E

Location after read: 90

In [33]:
with open('Example2.txt', 'r+') as testwritefile:
    data = testwritefile.readlines()
    testwritefile.seek(0,0) #write at beginning of file
   
    testwritefile.write("Line 1" + "\n")
    testwritefile.write("Line 2" + "\n")
    testwritefile.write("Line 3" + "\n")
    testwritefile.write("finished\n")
    
    testwritefile.truncate()
    testwritefile.seek(0,0)
    print(testwritefile.read())

Line 1
Line 2
Line 3
finished

In [34]:
#Cpiadn un archivo
with open('Example2.txt','r') as readfile:
    with open('Example3.txt','w') as writefile:
          for line in readfile:
                writefile.write(line)

In [35]:
# Verify if the copy is successfully executed

with open('Example3.txt','r') as testwritefile:
    print(testwritefile.read())

Line 1
Line 2
Line 3
finished

In [36]:
#Ejercicios
#Run this prior to starting the exercise
from random import randint as rnd

memReg = 'members.txt'
exReg = 'inactive.txt'
fee =('yes','no')

def genFiles(current,old):
    with open(current,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"

        for rowno in range(20):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[rnd(0,1)]))


    with open(old,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"
        for rowno in range(3):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[1]))


genFiles(memReg,exReg)

In [37]:
  
'''
The two arguments for this function are the files:
    - currentMem: File containing list of current members
    - exMem: File containing list of old members
    
    This function should remove all rows from currentMem containing 'no' 
    in the 'Active' column and appends them to exMem.
    '''
def cleanFiles(currentMem, exMem):
       with open(currentMem,'r+') as writeFile: 
        with open(exMem,'a+') as appendFile:
            writeFile.seek(0)
            members = writeFile.readlines()
            header = members[0]
            members.pop(0)
                
            inactive = [member for member in members if ('no' in member)]
            writeFile.seek(0) 
            writeFile.write(header)
            for member in members:
                if (member in inactive):
                    appendFile.write(member)
                else:
                    writeFile.write(member)      
            writeFile.truncate()


# The code below is to help you view the files.
# Do not modify this code for this exercise.
memReg = 'members.txt'
exReg = 'inactive.txt'
cleanFiles(memReg,exReg)


headers = "Membership No  Date Joined  Active  \n"
with open(memReg,'r') as readFile:
    print("Active Members: \n\n")
    print(readFile.read())
    
with open(exReg,'r') as readFile:
    print("Inactive Members: \n\n")
    print(readFile.read())

Active Members:


Membership No  Date Joined  Active
    49878      2019-3-7     yes
    59546      2016-8-16    yes
    79372      2015-1-6     yes
    29259      2015-9-19    yes
    51554      2018-12-5    yes
    34599      2017-2-5     yes
    32517      2015-1-7     yes
    88978      2016-10-4    yes
    14951      2019-10-9    yes
    73017      2018-2-5     yes
    75890      2018-9-14    yes
    19067      2020-2-7     yes

Inactive Members:


Membership No  Date Joined  Active
    73678      2017-8-7     no
    10429      2019-6-19    no
    30369      2019-8-20    no
    38097      2019-5-8     no
    83771      2017-9-12    no
    47585      2017-1-12    no
    43455      2015-6-4     no
    21732      2016-1-20    no
    40039      2015-4-22    no
    81029      2016-10-11   no
    26058      2020-12-15   no

#Loading With Pandas

In [51]:
# Leer un archivo csv
df = pd.read_csv("TopSellingAlbums.csv")

In [52]:
#imprimir las primeras 5 rows
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

In [53]:
#Leer un archivo de excel
df = pd.read_excel("TopSellingAlbums.xlsx")

In [54]:
#imprimir los primeros 5 rows
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,00:42:19,"pop, rock, R&B",46.0,65,1982-11-30,NaN,10.0
1,AC/DC,Back in Black,1980,00:42:11,hard rock,26.1,50,1980-07-25,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,00:42:49,progressive rock,24.2,45,1973-03-01,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,00:57:44,"R&B, soul, pop",27.4,44,1992-11-17,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,00:46:33,"hard rock, progressive rock",20.6,43,1977-10-21,NaN,8.0

In [57]:
#separar la columna Length
x = df[['Length']]
x

     Length
0  00:42:19
1  00:42:11
2  00:42:49
3  00:57:44
4  00:46:33
5  00:43:08
6  01:15:54
7  00:40:01

In [58]:
#Obtener la columna Length pero como una serie
x = df['Length']
x

0    00:42:19
1    00:42:11
2    00:42:49
3    00:57:44
4    00:46:33
5    00:43:08
6    01:15:54
7    00:40:01
Name: Length, dtype: object

In [60]:
#obtener la columna Artist pero como dataframe
x= df[['Artist']]
x

            Artist
0  Michael Jackson
1            AC/DC
2       Pink Floyd
3  Whitney Houston
4        Meat Loaf
5           Eagles
6         Bee Gees
7    Fleetwood Mac

In [63]:
#Acceder a multiples columnas
y = df[['Artist','Length','Genre']]
y

            Artist    Length                        Genre
0  Michael Jackson  00:42:19               pop, rock, R&B
1            AC/DC  00:42:11                    hard rock
2       Pink Floyd  00:42:49             progressive rock
3  Whitney Houston  00:57:44               R&B, soul, pop
4        Meat Loaf  00:46:33  hard rock, progressive rock
5           Eagles  00:43:08   rock, soft rock, folk rock
6         Bee Gees  01:15:54                        disco
7    Fleetwood Mac  00:40:01                    soft rock

In [65]:
#acceder al primer dato de la primer columna
dato = df.iloc[0,0]

In [66]:
print(dato)

Michael Jackson

In [68]:
#acceder al primer dato de la segunda columna
print(df.iloc[1,0])

AC/DC